* {
    margin: 0px;
    padding: 0px;
}

ul {
    margin: 0;
    padding: 0;
}

.section {
    padding: 100px 0px;
}

.section3 {
    background-image: url(./images/9.jpg);
    background-position: center;
    padding: 50px 0;
    background-size: cover;
    position: relative;
}

.section3::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    background-color: rgba(7, 41, 77, 0.70);
    z-index: 0;
}

.mainbody {
    height: 100%;
    width: 100%;
}

.container {
    max-width: 1140px;
    margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #292B2C;
}

.header {
    background-color: #003366;
    line-height: 44px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    color: white;
}

.mail {
    margin: 0%;
    padding: 0;
    font-size: 20px;
}

.top-header a {
    padding: 0px 4px;
}

.box-manu {
    display: flex;
    justify-content: space-between;
}

.imag {
    height: 70px;
    padding: 10px;
}

.manu {
    background-color: white;
}

.main-manu {
    list-style-type: none;
    display: flex;
}

.main-manu li {
    padding: 35px 10px;
    font-size: 16px;
    font-weight: 700;
}

.img-box {
    height: 100%;
    width: 100%;
    position: relative;
}

.rrll {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: white;
}

.heading h4,
h1 {
    text-align: center;
    color: #292B2C;
}

.heading h1 {
    margin-bottom: 20px;
}

.g-box {
    display: flex;
    justify-content: space-between;
}

.icon-b {
    border-top: 1px solid black;
}

.d {
    box-shadow: 0px 0px 2px #ccc;
    width: 33%;
    margin: 15px;
    border-radius: 10px;
}

.info-box h2 {
    font-size: 20px;
    padding: 15px;
}

.dimg-box img {
    height: 100%;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.down-info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #ddd;
}

.d-icon {
    color: #FFC600;
    font-size: 18px;
}

.d-btn button {
    background-color: #003366;
    border: none;
    padding: 13px 15px;
    color: white;
    font-size: 14px;
    line-height: 10px;
}

.d-end {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.d-end-btn button {
    border: none;
    background-color: #FFC600;
    color: white;
    font-size: 16px;
    padding: 15px 30px;
    border-radius: 5px;
}

.s-img {
    width: 100%;
    height: 100%;
}

.s-img img {
    width: 100%;
    height: 250px;
}

.s-head h2 {
    font-size: 16px;
    color: #292B2C;
    font-weight: 700;
}

.s2-info-box {
    display: flex;
}


.sleft-info {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    padding: 80px;
    margin-right: -100px;
    border-radius: 0px 250px 250px 0px;
    background-color: white;
    z-index: 4;
    position: relative;
}

.sright-info img {
    width: 100%;
    height: 40%;
}

.sleft-info p {
    font-size: 16px;
    color: #888888;
    font-weight: 500;
    text-align: justify;
}

.s-head h4 {
    font-size: 14px;
    color: #292B2C;
    font-weight: 500;
    margin-bottom: 10px;
}

.s-head h2 {
    margin-bottom: 10px;
}

.s-butn {
    margin-top: 20px;
}

.s-butn button {
    background-color: #FFBC06;
    padding: 15px 30px;
    border: none;
    color: white;
    vertical-align: middle;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
}

.s-img {
    position: relative;
}

.p-box {
    position: absolute;
    height: 250px;
    width: 100%;
    background-color: rgba(7, 41, 77, .7);
    top: 0%;
    left: 0;
}

.inf-box {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.in1 {
    position: relative;
    margin-top: 50px;
    z-index: 20;
}

.i1 {
    width: 80px;
    height: 65px;
    overflow: hidden;
    position: absolute;
    z-index: 22;
}

.i2 {
    margin-left: 30px;
}

.i-info {
    margin: 70px 0px 0px 0px;
    transform: translatex(-20px);
    color: white;
    text-align: center;
}

.i-info h3 {
    color: white;
}

.h-std {
    display: flex;
}

.h-info,
.h-img {
    margin: 25px;
}

.h-head h4,
h2 {
    color: #292B2C;
}

.h-head h4 {
    margin-bottom: 15px;
    font-size: 14px;
}

.h-head h2 {
    margin-bottom: 20px;
    font-size: 32px;
}

.h-info {
    width: 50%;
}

.h-data p {
    text-align: justify;
    color: #888888;
    font-size: 16px;
}

.ih-img {
    margin-top: 40px;
}

.h-img {
    width: 50%;
}

.himg-box img {
    width: 100%;
    border-radius: 100%;
}

.h-profile {
    display: flex;
    margin-top: 30px;
}

.pro-img {
    height: 80px;
    width: 80px;
}

.pro-info {
    margin: 15px 0px 0px 20px;
}

.pro-info h3 {
    font-size: 16px;
    font-weight: 600;
}

.pro-info span {
    font-size: 14px;
    font-weight: 600;
}

.color {
    color: #FFBC06;
}

.pro-img img {
    height: 100%;
    border-radius: 50%;
}

.section5 {
    background-color: #F7F7F7;
}

.card-img-top {
    background-color: #292B2C;
}

.w-head h4 {
    text-align: center;
    color: #292B2C;
    font-size: 14px;
    font-weight: 500;
}

.w-head h2 {
    color: #292B2C;
    text-align: center;
    font-size: 32px;
    margin: 20px 0px;
}

.main-block {
    display: flex;
}

.read .card {
    height: 300px !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.read .card img {
    height: 100px;
    width: 100px;
    margin: 20px auto;

    border-radius: 50%;
}

.b-img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
}

.b1-img {
    background-color: #F6475F;
}

.b2-img {
    background-color: #FFBC06;
}

.b3-img {
    background-color: #B3D369;
}

.b4-img {
    background-color: #554DA7;
}

.b5-img {
    background-color: #4382FF;
}

.b6-img {
    background-color: #F94FA4;
}

.b-img img {
    height: 100%;
    width: 100%;
}

.b-info {
    text-align: center;
}

.b-info h5 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #292B2C;
}

.b-info p {
    font-size: 16px;
    color: #888888;
    line-height: 24px;
}

.p-head h4 {
    font-size: 14px;
    text-align: center;
}

.p-head h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 50px;
}

.pimg-line {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 60px;
}

.pimg-line img {
    border: 1px solid gray;
    margin: 10px;
    width: 165px;
}

.pc-info {
    max-width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

.pc-head h2 {
    font-size: 20px;
    margin-bottom: 25px;
}

.pc-head span {
    border: 1px solid black;
    margin: 0px 2px 3px 0px;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 2px;
}

.f-section {
    background-color: #003366;
}

.f-box {
    display: flex;
    color: white;
}

.f-logo {
    width: 270px;
}

.f-logo img {
    width: 100%;
}

.footer {
    padding: 100px 0px;
}

.f1,
.f2,
.f3 {
    width: 33.33%;
}

.txt p {
    text-align: justify;
    font-size: 14px;
    word-spacing: 3px;
    margin-top: 10px;
}

.f-txt p {
    color: #FFBC06;
    margin-top: 30px;
    font-weight: 700;
    font-size: 16px;
}

.f-icon {
    margin-top: 20px;
}

.f-icon a {
    padding: 2px 5px 0px 5px;
    background-color: rgba(255, 255, 255, .1);
    margin: 2px;
    border-radius: 5px;
}

.fe-list {
    margin-top: 15px;
}

.fe-info h5 {
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.fe-list p {
    margin: 10px 0px;
}

.fe-list span {
    margin: 7px;
}

.f1,
.f2,
.f3 {
    margin: 15px;
}

.fc-txt h4 {
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
}

.fc-info h4 {
    color: #FFBC06;
    font-size: 16px;
    font-weight: 600;
}

.fc-info p {
    line-height: 1.5;
    font-size: 16px;
}

.fc-info span {
    color: #FFBC06;
}

.fc-info {
    margin-bottom: 10px;
}

.ot-info h3 {
    color: #FFBC06;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}

.ot-list p {
    margin: 10px 0px;
    font-size: 14px;
}

.ot-list span {
    padding: 5px 10px 5px 0px;
}

.endsection {
    background-color: #072044;
    color: white;
}

.end-txt p {
    padding: 30px 0px;
    font-size: 14px;
    font-weight: 600;
}

.white {
    color: white;
}